<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="lib/phpunit/phpunit.xsd"
        bootstrap="../../../lib/phpunit/bootstrap.php"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
        processIsolation="false"
        backupGlobals="false"
        backupStaticAttributes="false"
        stopOnError="false"
        stopOnFailure="false"
        stopOnIncomplete="false"
        stopOnSkipped="false"
>

    <testsuites>
        <testsuite name="tool_objectfs_testsuite">
            <directory suffix="_test.php">tests</directory>
        </testsuite>
        <testsuite name="core_files_testsuite">
            <directory suffix="_test.php">../../../lib/filestorage/tests</directory>
            <directory suffix="_test.php">../../../files/tests</directory>
        </testsuite>
        <testsuite name="core_privacy_testsuite">
            <directory suffix="_test.php">../../../privacy/tests</directory>
        </testsuite>
    </testsuites>
</phpunit>
