name: Run all tests

# Run this workflow on push and on pull_request.
on: [push, pull_request]

jobs:
  setup:
    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgres:9.6
        env:
          POSTGRES_USER: 'postgres'
          POSTGRES_HOST_AUTH_METHOD: 'trust'
        # Health check to wait for postgres to start.
        ports:
          - 5432:5432
        options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 3
      mariadb:
        image: mariadb:10
        env:
          MYSQL_USER: 'root'
          MYSQL_ALLOW_EMPTY_PASSWORD: "true"
        ports:
          - 3306:3306
        options: --health-cmd="mysqladmin ping" --health-interval 10s --health-timeout 5s --health-retries 3
    strategy:
      fail-fast: false
      matrix:
        include:
          - {moodle-branch: 'MOODLE_33_STABLE', php: '7.1', node: '8.9', database: 'pgsql'}
          - {moodle-branch: 'MOODLE_34_STABLE', php: '7.2', node: '8.9', database: 'pgsql'}
          - {moodle-branch: 'MOODLE_35_STABLE', php: '7.2', node: '14.15', database: 'pgsql'}
          - {moodle-branch: 'MOODLE_36_STABLE', php: '7.3', node: '8.9', database: 'pgsql'}
          - {moodle-branch: 'MOODLE_37_STABLE', php: '7.1', node: '14.15', database: 'mariadb'}
          - {moodle-branch: 'MOODLE_37_STABLE', php: '7.3', node: '14.15', database: 'pgsql' }
          - {moodle-branch: 'MOODLE_38_STABLE', php: '7.1', node: '14.15', database: 'mariadb' }
          - {moodle-branch: 'MOODLE_38_STABLE', php: '7.3', node: '14.15', database: 'pgsql' }
          - {moodle-branch: 'MOODLE_39_STABLE', php: '7.2', node: '14.15', database: 'mariadb'}
          - {moodle-branch: 'MOODLE_39_STABLE', php: '7.3', node: '14.15', database: 'pgsql'}
          - {moodle-branch: 'MOODLE_39_STABLE', php: '7.4', node: '14.15', database: 'mariadb'}
          - {moodle-branch: 'MOODLE_39_STABLE', php: '7.4', node: '14.15', database: 'pgsql'}
    steps:
      - name: Check out repository code
        uses: actions/checkout@v2
        with:
          # Clone in plugin subdir, so we can setup CI in default directory.
          path: plugin

      - name: Install node
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node }}

      - name: Setup PHP environment
        uses: shivammathur/setup-php@v2 #https://github.com/shivammathur/setup-php
        with:
          php-version: ${{ matrix.php }}
          extensions: mbstring, pgsql, mysqli, gd, zip
          tools: phpunit

      - name: Deploy moodle-plugin-ci
        run: |
          composer create-project -n --no-dev --prefer-dist moodlehq/moodle-plugin-ci ci ^3
          # Use composer V1 for older branches
          composer self-update --1
          # Add dirs to $PATH
          echo $(cd ci/bin; pwd) >> $GITHUB_PATH
          echo $(cd ci/vendor/bin; pwd) >> $GITHUB_PATH
          # PHPUnit depends on en_AU.UTF-8 locale
          sudo locale-gen en_AU.UTF-8

      - name: Install Moodle
        # Need explicit IP to stop mysql client fail on attempt to use unix socket.
        run: moodle-plugin-ci install -vvv --plugin ./plugin --db-host=127.0.0.1
        env:
          DB: ${{ matrix.database }}
          # TODO: Omitted MOODLE_BRANCH results in regex failure, investigate.
          MOODLE_BRANCH: ${{ matrix.moodle-branch }}

      - name: Apply core patches 1/2
        if: matrix.moodle-branch == 'MOODLE_33_STABLE'
        run: |
          git config --global user.email "test@test.com"
          git config --global user.name "Test"
          (cd /home/runner/work/moodle-tool_objectfs/moodle-tool_objectfs/moodle; git am --whitespace=nowarn < admin/tool/objectfs/patch/core33.diff);

      - name: Apply core patches 2/2
        if: matrix.moodle-branch == 'MOODLE_38_STABLE'
        run: |
          git config --global user.email "test@test.com"
          git config --global user.name "Test"
          (cd /home/runner/work/moodle-tool_objectfs/moodle-tool_objectfs/moodle; git am --whitespace=nowarn < admin/tool/objectfs/patch/core38.diff);

      - name: Run phplint
        if: matrix.moodle-branch == 'MOODLE_39_STABLE'
        run: moodle-plugin-ci phplint

      - name: Run phpcpd
        if: matrix.moodle-branch == 'MOODLE_39_STABLE'
        run: moodle-plugin-ci phpcpd || true

      - name: Run phpmd
        if: matrix.moodle-branch == 'MOODLE_39_STABLE'
        run: moodle-plugin-ci phpmd

      - name: Run codechecker
        if: matrix.moodle-branch == 'MOODLE_39_STABLE'
        run: moodle-plugin-ci codechecker

      - name: Run validate
        if: ${{ always() }}
        run: moodle-plugin-ci validate

      - name: Run savepoints
        if: ${{ always() }}
        run: moodle-plugin-ci savepoints

      - name: Run mustache
        if: ${{ always() }}
        run: moodle-plugin-ci phpcpd

      - name: Run grunt
        if: ${{ always() }}
        run: moodle-plugin-ci grunt

      # PHPDoc works but needs a *LOT* of love
      #- name: Run phpdoc
      #  if: ${{ always() }}
      #  run: moodle-plugin-ci phpdoc

      - name: Run phpunit
        if: ${{ always() }}
        run: moodle-plugin-ci phpunit
